/venv/
/.idea/
*.csv
*.pkl
*.txt
!README.txt
!requirements.txt
*.db
*.tif
!pneuma.tif
*.tfw
!pneuma.tfw
*.aux
*.png
!screenshot.png
!UML_class_diagram.png
*.zip
*.mat
/dataobjects
gui/__pycache__/__init__.cpython-37.pyc
gui/__pycache__/annotationgraphics.cpython-37.pyc
gui/__pycache__/dataset_selection_dialog_ui.cpython-37.pyc
gui/__pycache__/datasetselectiondialog.cpython-37.pyc
gui/__pycache__/gui.cpython-37.pyc
gui/__pycache__/guimainwindow_ui.cpython-37.pyc
gui/__pycache__/legenddialog_ui.cpython-37.pyc
gui/__pycache__/legenddialog.cpython-37.pyc
gui/__pycache__/overlay.cpython-37.pyc
gui/__pycache__/vehiclegraphics.cpython-37.pyc
gui/__pycache__/worldview.cpython-37.pyc
gui/widgets/__pycache__/__init__.cpython-37.pyc
gui/widgets/__pycache__/exidinfowidget_ui.cpython-37.pyc
gui/widgets/__pycache__/exidinfowidget.cpython-37.pyc
gui/widgets/__pycache__/highdinfowidget_ui.cpython-37.pyc
gui/widgets/__pycache__/highdinfowidget.cpython-37.pyc
gui/widgets/__pycache__/ngsiminfowidget_ui.cpython-37.pyc
gui/widgets/__pycache__/ngsiminfowidget.cpython-37.pyc
gui/widgets/__pycache__/pneumainfowidget_ui.cpython-37.pyc
gui/widgets/__pycache__/pneumainfowidget.cpython-37.pyc
gui/widgets/__pycache__/vehicleinfowidget.cpython-37.pyc
processing/__pycache__/__init__.cpython-37.pyc
processing/__pycache__/__init__.cpython-38.pyc
processing/__pycache__/encryptiontools.cpython-37.pyc
processing/__pycache__/encryptiontools.cpython-38.pyc
processing/__pycache__/examplecost.cpython-37.pyc
processing/__pycache__/kalmansmoothing.cpython-37.pyc
processing/__pycache__/NGSIMsplitting.cpython-37.pyc
visualisation/__pycache__/__init__.cpython-37.pyc
visualisation/__pycache__/exidvisualisationmaster.cpython-37.pyc
visualisation/__pycache__/highdvisualisationmaster.cpython-37.pyc
visualisation/__pycache__/ngsimvisualisationmaster.cpython-37.pyc
visualisation/__pycache__/pneumavisualisationmaster.cpython-37.pyc
visualisation/__pycache__/visualisationmaster.cpython-37.pyc
